@model IntProg.Models.Gosteri

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gosteri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GosteriAd" class="control-label"></label>
                <input asp-for="GosteriAd" class="form-control" />
                <span asp-validation-for="GosteriAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GosteriTarih" class="control-label"></label>
                <input asp-for="GosteriTarih" class="form-control" />
                <span asp-validation-for="GosteriTarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GosteriYeri" class="control-label"></label>
                <input asp-for="GosteriYeri" class="form-control" />
                <span asp-validation-for="GosteriYeri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

